{% extends 'adminv2/layout/base.html' %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thống kê</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Số lượng Người Dùng
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.user }} người dùng</div>
            </div>
            <div class="col-auto">
              <i class="fa-solid fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                số cửa hàng
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.store }} cửa hàng</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-info text-uppercase mb-1"
              >
                Số Sản Phẩm
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    {{ total.product }} sản phẩm
                  </div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div
                      class="progress-bar bg-info"
                      role="progressbar"
                      style="width: 50%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
              >
                Số tool 
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.tool }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Content Row -->

    <div class="row">
      <!-- Area Chart -->
      <div class="col-xl-6 col-lg-6">
        <div class="mb-4">
          <!-- Card Header - Dropdown -->
          <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
          >
            <h6 class="m-0 font-weight-bold text-primary">Cửa Hàng</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartStore"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="mb-4">
          <!-- Card Header - Dropdown -->
          <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
          >
            <h6 class="m-0 font-weight-bold text-primary">Danh mục</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartCategory"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      let data = []
      const api_get_price_history = async () => {
          await $.ajax({
            type: "GET",
            url: '/api/dashboard',
            success: function (response) {
              data = response
            },
            error: function (error) {
              console.log(error)
            },
          });
          let price = []
          let labels = []
          data.map(item => {
            labels.push(item.name);
            price.push(item.count);
          })
          const ctx = document.getElementById('chartStore');
          new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: labels,
                  datasets: [{
                  data: price,
                  label: "sản phẩm",
                  borderWidth: 1,
                  backgroundColor: "#4E73DF",
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
            });
          }
      $(document).ready(function () {
          api_get_price_history() 
      });
    </script>
    <script>
      let data1 = []
      const api_get_price_history1 = async () => {
          await $.ajax({
            type: "GET",
            url: '/api/dashboard/category',
            success: function (response) {
              data1 = response
            },
            error: function (error) {
              console.log(error)
            },
          });
          let price = []
          let labels = []
          data1.map(item => {
            labels.push(item.name);
            price.push(item.count);
          })
          const ctx = document.getElementById('chartCategory');
          new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: labels,
                  datasets: [{
                  data: price,
                  label: "sản phẩm",
                  borderWidth: 1,
                  backgroundColor: "red",
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
            });
          }
      $(document).ready(function () {
          api_get_price_history1() 
      });
    </script>
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
{% endblock %}
