{% extends 'user/layout/base.html' %}
{% block content %}
<!--====== App Content ======-->
<div class="app-content">

          <!--====== Section 1 ======-->
    <div class="u-s-p-t-90">
        <div class="container">
                <div class="pd-breadcrumb u-s-m-b-30">
                    <ul class="pd-breadcrumb__list">
                        <li class="has-separator">
                            <a href="/" style="font-size:18px">Trang Chủ</a></li>
                        <li class="has-separator">
                            <a href="/home/product" style="font-size:18px">Sản Phẩm</a></li>
                        <li class="is-marked">
                        <a style="font-size:18px">{{min_product.name}}</a></li>
                    </ul>
                </div>
                  <div class="row">
                      <div class="col-lg-7">
                          <!--====== Product Detail Zoom ======-->
                          <div class="pd u-s-m-b-30">
                              <div class="pd-wrap">
                                  <div id="pd-o-initiate">
                                      <div class="pd-o-img-wrap">
                                        {% if min_product.link_image %}
                                        <img
                                          class="u-img-fluid"
                                          src="{{min_product.link_image}}"
                                          style="height: 300px;object-fit:contain;"
                                          alt=""
                                      />
                                      {% else %}
                                      <img
                                      class="u-img-fluid"
                                      src="{{ url_for('static',filename='/image_default.jpg') }}"
                                      style="height: 300px;object-fit:contain;"
                                      alt=""
                                  />
                                      {% endif %}
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!--====== End - Product Detail Zoom ======-->
                      </div>
                      <div class="col-lg-5">

                          <!--====== Product Right Side Details ======-->
                          <div class="pd-detail" style="margin-top: 75px;">
                              <div>

                                  <span class="pd-detail__name">{{min_product.name}}</span></div>
                              <div>
                                  <div class="pd-detail__inline">

                                    <span class="product-o__price" style="color: #c99c18;">
                                      rating: {{min_product.rating.rating}} | {{min_product.rating.total_rating}}
                                    </span>
                                  </div>
                                  <div class="pd-detail__inline">
                                    <div class="pd-detail__price">
                                      <span style="color: red;">
                                        {{min_product.price}} VNĐ
                                       </span>
                                    </div>
                                  </div>
                              <div>
                                <span>rating tốt nhất nhất tại : </span>
                                <img width="50" height="20" src="{{min_product.store.link_image}}" />
                                <span style="color:grey">{{ min_product.store.name }}</span>
                              </div>
                              <div class="u-s-m-b-15" style="margin-top:10px">
                                  <div class="pd-detail__inline">

                                      <span class="pd-detail__click-wrap"><svg style="width:14px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M364.2 83.8c-24.4-24.4-64-24.4-88.4 0l-184 184c-42.1 42.1-42.1 110.3 0 152.4s110.3 42.1 152.4 0l152-152c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-152 152c-64 64-167.6 64-231.6 0s-64-167.6 0-231.6l184-184c46.3-46.3 121.3-46.3 167.6 0s46.3 121.3 0 167.6l-176 176c-28.6 28.6-75 28.6-103.6 0s-28.6-75 0-103.6l144-144c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-144 144c-6.7 6.7-6.7 17.7 0 24.4s17.7 6.7 24.4 0l176-176c24.4-24.4 24.4-64 0-88.4z"/></svg></i>

                                          <a href="/home/product/detail/{{min_product._id}}" style="font-size:18px" target="_blank">Đi đến chi tiết sản phẩm</a>

                              </div>
                          </div>
                          <!--====== End - Product Right Side Details ======-->
                      </div>
                  </div>
              </div>
          </div>

          <!--====== Product Detail Tab ======-->
          <div id="content">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="pd-tab">
                            <div class="u-s-m-b-30">
                                <ul class="nav pd-tab__list">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#pd-desc">So sánh rating</a></li>
                                    <li class="nav-item">
                                          <a class="nav-link" data-toggle="tab" href="#pd-price">Biểu đồ rating</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="pd-desc">
                                    <div>
                                        {% if list_data %}
                                        <div class="owl-carousel product-slider" data-item="4">
                                          {% for item in list_data %}
                                            <div class="u-s-m-b-30">
                                                <a href="/home/product/detail/{{item._id}}" class="product-o">
                                                    <div class="product-o__wrap">
                                                        <a class="aspect aspect--square u-d-block" >
                                                          {% if item.link_image %}
                                                              <img width="300" height="200" class="aspect__img" src="{{item.link_image}}" alt="">
                                                          {% else %}
                                                              <img width="300" height="200" class="aspect__img" src="{{ url_for('static',filename='/image_default.jpg') }}" alt="">
                                                          {% endif %}
                                                        </a>
                                                    </div>
                                                    <div style="display:flex;margin-top:10px">
                                                      <img style="width:50px;height:20px;" src="{{item.store.link_image}}" />
                                                      <span style="color:grey;padding:0 2px">{{ item.store.name }}</span>
                                                    </div>
                                                    <div title="{{item.name}}" style="color: black;height:55px;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;word-wrap: break-word;"><a href="/home/product/detail/{{item._id}}" style="color: black;height: 100px;">{{item.name}}</a></div>
                                                    <span class="product-o__price" style="color: #c99c18;">
                                                      rating: {{item.rating.rating}} | {{item.rating.total_rating}}
                                                    </span>
                                                    <span class="product-o__price" style="color: red;">
                                                     {{item.price}} VNĐ
                                                    </span>
                                                  </a>
                                            </div>
                                          {% endfor %}
                                        </div>
                                        {% else %}
                                            <div style="text-align: center;padding: 100px">Không có sản phẩm nào để so sánh</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="pd-price">
                                    <div>
                                        {% if list_data %}
                                        <div class="u-s-m-b-15">
                                          <canvas id="myChart"></canvas>
                                        </div>
                                        {% else %}
                                        <div style="text-align: center;padding: 100px">Không có sản phẩm nào để so sánh</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12">

              <!--====== Section Intro ======-->
              <div class="section__intro u-s-m-t-46">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="section__text-wrap">
                                  <h1 class="section__heading u-c-secondary u-s-m-b-12">Sản phẩm cùng tầm giá</h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!--====== End - Section Intro ======-->


              <!--====== Section Content ======-->
              <div class="section__content">
                  <div class="container">
                      <div class="slider-fouc">
                          <div class="owl-carousel product-slider" data-item="4">
                            {% for item in similar_product %}
                              <div class="u-s-m-b-30">
                                  <a href="/home/product/detail/{{item._id}}" class="product-o">
                                      <div class="product-o__wrap">
                                          <a class="aspect aspect--square u-d-block" >
                                            {% if item.link_image %}
                                                <img width="300" height="200" class="aspect__img" src="{{item.link_image}}" alt="">
                                            {% else %}
                                                <img width="300" height="200" class="aspect__img" src="{{ url_for('static',filename='/image_default.jpg') }}" alt="">
                                            {% endif %}
                                          </a>
                                      </div>
                                      <div style="display:flex;margin-top:10px">
                                        <img style="width:50px;height:20px;" src="{{item.store.link_image}}" />
                                        <span style="color:grey;padding:0 2px">{{ item.store.name }}</span>
                                      </div>
                                      <div title="{{item.name}}" style="color: black;height:55px;  display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;word-wrap: break-word;"><a href="/home/product/detail/{{item._id}}" style="color: black;height: 100px;">{{item.name}}</a></div>
                                      <span class="product-o__price" style="color: red;">
                                        {% if item.price != '0' %}{{item.price}} VNĐ{% else %}Sắp về hàng{% endif %}
                                      </span>
                                    </a>
                              </div>
                            {% endfor %}
                          </div>
                      </div>
                  </div>
              </div>
              <!--====== End - Section Content ======-->
          </div>
          <!--====== End - Section 1 ======-->
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>
        const ctx = document.getElementById('myChart');
        let rating = []
        let labels = []
        rating.push(parseInt("{{min_product.rating.rating}}".replace(/,/g, "")))
        labels.push("{{min_product.store.name}}")
        {% if list_data %}
            {% for item in list_data %}
                rating.push("{{item.rating.rating}}")
                labels.push("{{item.store.name}}")
            {% endfor %}
        {% endif %}
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [{
              label: 'biểu đồ rating',
              data: rating,
              borderWidth: 1,
              borderColor: 'rgb(75, 192, 192)',
              barPercentage: 0.5, 
              categoryPercentage: 0.5
            }]
          },
          options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
          }
        });
      </script>
{% endblock %}