{% extends 'user/layout/base.html' %} {% block content %}
<!--====== App Content ======-->
<div class="app-content">
  <!--====== Anti Flash White Background ======-->
  <div class="bg-anti-flash-white">
    <!--====== White Container ======-->
    <div class="white-container">
      <div class="container">
        <!--====== Primary Slider ======-->
        <div class="s-skeleton s-skeleton--h-600 s-skeleton--bg-black">
          <div class="owl-carousel primary-style-2" id="hero-slider">
            <div class="hero-slide">
              <img
                src="https://cdn2.cellphones.com.vn/690x300,webp,q100/https://dashboard.cellphones.com.vn/storage/redmi-note12s-004-sliding.png"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
        <!--====== End - Primary Slider ======-->
      </div>

      <!--====== Section 1 ======-->

      <!--====== End - Section Content ======-->
      <div class="u-s-p-y-60" id="electronic-01">
        <!--====== Section Intro ======-->
        <div class="section__intro">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="block">
                  <span class="block__title">Trang Web</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--====== End - Section Intro ======-->

        <!--====== Section Content ======-->
        <div class="section__content">
          <div class="container">
            <div class="slider-fouc">
              <div class="owl-carousel product-slider" data-item="8">
                {% for item in stores %}
                <div class="u-s-m-b-30">
                  <div class="product-o__wrap">
                    <a href="{{item.link_url}}" target="_blank">
                      {% if item.link_image %}
                      <img
                        width="100"
                        height="75"
                        style="padding: 0 10px"
                        src="{{item.link_image}}"
                        alt=""
                      />
                      {% else %}
                      <img
                        width="100"
                        height="75"
                        style="padding: 0 10px"
                        src="{{ url_for('static',filename='/image_default.jpg') }}"
                        alt=""
                      />
                      {% endif %}
                    </a>
                  </div>
                  <div style="color: black">
                    <a
                      href="{{item.link_url}}"
                      style="color: black; height: 100px"
                      target="_blank"
                      >{{item.name}}</a
                    >
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

              <!--====== End - Section Content ======-->
      <div class="u-s-p-y-60" id="electronic-02">
        <!--====== Section Intro ======-->
        <div class="section__intro">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="block">
                  <span class="block__title">So sánh giá</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section__content">
            <div class="container">
              <div class="slider-fouc">
                <div class="owl-carousel product-slider" data-item="8">
                  {% for item in category %}
                    {% if item.child %}
                    {% for item in item.child %}
                  <div class="u-s-m-b-30">
                    <div class="product-o__wrap">
                      <a href="{{item.link_url}}" target="_blank">
                        <img
                          width="100"
                          height="75"
                          style="padding: 0 10px"
                          src="{{ url_for('static',filename='/image_default.jpg') }}"
                          alt=""
                        />
                      </a>
                    </div>
                    <div style="color: black">
                      <a
                        href="{{item.link_url}}"
                        style="color: black; height: 100px"
                        target="_blank"
                        >{{item.name}}</a
                      >
                    </div>
                  </div>
                  {% endfor %}
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        <!--====== Electronic Category ======-->
        <!--====== End - Section 1 ======-->

        <!--====== Section 2 ======-->

        <!--====== Electronics Tab ======-->
        <div class="u-s-p-b-60">
          <!--====== Section Intro ======-->
          <div class="section__intro u-s-m-b-46">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="block">
                    <span class="block__title">Sản Phẩm</span>
                    <ul class="nav tab-list">
                      <li class="nav-item">
                        <a
                          class="nav-link btn--e-white-brand-shadow active"
                          data-toggle="tab"
                          href="#e-t-r"
                          >Rating Cao</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link btn--e-white-brand-shadow"
                          data-toggle="tab"
                          href="#e-b-s"
                          >Sản Phẩm Mới</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Intro ======-->

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="tab-content">
                <!--====== Tab 2 ======-->
                <div class="tab-pane fade show active" id="e-b-s">
                  <div class="slider-fouc">
                    <div class="owl-carousel tab-slider" data-item="4">
                      <div class="u-s-m-b-30">
                        <div class="product-o product-o--hover-on">
                          <div class="product-o__wrap">
                            <a
                              class="aspect aspect--bg-grey aspect--square u-d-block"
                              href="product-detail.html"
                            >
                              <img
                                class="aspect__img"
                                src="../../../static/template_user/images/product/electronic/product2.jpg"
                                alt=""
                            /></a>
                            <div class="product-o__action-wrap">
                              <ul class="product-o__action-list">
                                <li>
                                  <a
                                    data-modal="modal"
                                    data-modal-id="#quick-look"
                                    data-tooltip="tooltip"
                                    data-placement="top"
                                    title="Quick View"
                                    ><i class="fas fa-search-plus"></i
                                  ></a>
                                </li>
                                <li>
                                  <a
                                    data-modal="modal"
                                    data-modal-id="#add-to-cart"
                                    data-tooltip="tooltip"
                                    data-placement="top"
                                    title="Add to Cart"
                                    ><i class="fas fa-plus-circle"></i
                                  ></a>
                                </li>
                                <li>
                                  <a
                                    href="signin.html"
                                    data-tooltip="tooltip"
                                    data-placement="top"
                                    title="Add to Wishlist"
                                    ><i class="fas fa-heart"></i
                                  ></a>
                                </li>
                                <li>
                                  <a
                                    href="signin.html"
                                    data-tooltip="tooltip"
                                    data-placement="top"
                                    title="Email me When the price drops"
                                    ><i class="fas fa-envelope"></i
                                  ></a>
                                </li>
                              </ul>
                            </div>
                          </div>

                          <span class="product-o__category">
                            <a href="shop-side-version-2.html"
                              >Electronics</a
                            ></span
                          >

                          <span class="product-o__name">
                            <a href="product-detail.html"
                              >Red Wireless Headphone</a
                            ></span
                          >
                          <div class="product-o__rating gl-rating-style">
                            <i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i>

                            <span class="product-o__review">(23)</span>
                          </div>

                          <span class="product-o__price"
                            >$125.00

                            <span class="product-o__discount"
                              >$160.00</span
                            ></span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--====== End - Tab 2 ======-->

                <!--====== Tab 3 ======-->
                <div class="tab-pane" id="e-t-r">
                  <div class="slider-fouc">
                    <div class="owl-carousel tab-slider" data-item="4">
                      <div class="u-s-m-b-30">
                        <div class="product-o product-o--hover-on">
                          <div class="product-o__wrap">
                            <a
                              class="aspect aspect--bg-grey aspect--square u-d-block"
                              href="product-detail.html"
                            >
                              <img
                                class="aspect__img"
                                src="../../../static/template_user/images/product/electronic/product2.jpg"
                                alt=""
                            /></a>
                            <div class="product-o__action-wrap">
                              <ul class="product-o__action-list">
                                <li>
                                  <a
                                    data-modal="modal"
                                    data-modal-id="#quick-look"
                                    data-tooltip="tooltip"
                                    data-placement="top"
                                    title="Quick View"
                                    ><i class="fas fa-search-plus"></i
                                  ></a>
                                </li>
                                <li>
                                  <a
                                    data-modal="modal"
                                    data-modal-id="#add-to-cart"
                                    data-tooltip="tooltip"
                                    data-placement="top"
                                    title="Add to Cart"
                                    ><i class="fas fa-plus-circle"></i
                                  ></a>
                                </li>
                                <li>
                                  <a
                                    href="signin.html"
                                    data-tooltip="tooltip"
                                    data-placement="top"
                                    title="Add to Wishlist"
                                    ><i class="fas fa-heart"></i
                                  ></a>
                                </li>
                                <li>
                                  <a
                                    href="signin.html"
                                    data-tooltip="tooltip"
                                    data-placement="top"
                                    title="Email me When the price drops"
                                    ><i class="fas fa-envelope"></i
                                  ></a>
                                </li>
                              </ul>
                            </div>
                          </div>

                          <span class="product-o__category">
                            <a href="shop-side-version-2.html"
                              >Electronics</a
                            ></span
                          >

                          <span class="product-o__name">
                            <a href="product-detail.html"
                              >Red Wireless Headphone</a
                            ></span
                          >
                          <div class="product-o__rating gl-rating-style">
                            <i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i>

                            <span class="product-o__review">(23)</span>
                          </div>

                          <span class="product-o__price"
                            >$125.00

                            <span class="product-o__discount"
                              >$160.00</span
                            ></span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--====== End - Tab 3 ======-->
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Electronics Tab ======-->
        <!--====== End - Section 2 ======-->

        <!--====== Section 4 ======-->
      </div>
      <!--====== End - White Container ======-->
    </div>
    <!--====== End - Anti Flash White Background ======-->
  </div>
</div>
{% endblock %}
