{% extends 'adminv2/layout/base.html' %} 
{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- jquery validation -->
      <div class="card card-primary mt-3">
        <div class="card-header">
          {% if data %}
          <div style="color: red;">Sửa cửa hàng không thành công</div>
          <div style="color: red;">- {{ data }}</div>
          {% endif %}
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form action="/shop/edit/{{store._id}}" method="post">
            <h1 class="h3 mb-3 fw-normal">Thêm Cửa Hàng</h1>

            <div class="form-floating mb-3">
              <label for="floatingInput">Tên</label>
              <input
                type="text"
                value="{{store.name}}"
                name="name"
                class="form-control"
              />
            </div>
            <div class="form-floating mb-3">
              <label for="floatingPassword">Đường Dẫn Trang Chủ Cửa Hàng</label>
              <input
                type="text"
                value="{{store.link_url}}"
                name="link_url"
                class="form-control"
              />
            </div>
            <div class="form-floating mb-3">
              <label for="floatingPassword">Url Ảnh</label>
              <input
                type="text"
                value="{{store.link_image}}"
                name="link_image"
                class="form-control"
              />
            </div>
            <button class="btn btn-sm btn-primary" type="submit">
              Cập nhật
            </button>
          </form>
        </div>
        <!-- form start -->
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6"></div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
{% endblock %}
