{% extends 'adminv2/layout/base.html' %} {% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Cửa Hàng</h1>
    <a
      href="/shop/create"
      class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
    >
      <i class="fa-solid fa-circle-plus"></i>
      Thêm Cửa Hàng</a
    >
  </div>
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <div class="card mt-3">
        <div class="card-header">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div>
              {% for message in messages %}
                <span style="color: red;">{{ message }}</span>
              {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 80%">
          <table class="table table-head-fixed text-nowrap">
            <caption></caption>
            <thead>
              <tr>
                <th>Logo</th>
                <th>Tên</th>
                <th>Url shop</th>
                <th>Số lượng</th>
                <th class="col-2"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in lists %}
              <tr>
                <td>
                  <img
                    width="150"
                    height="50"
                    src="{{ item.link_image }}"
                    alt="{{ item.name }}"
                  />
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.link_url }}</td>
                <td>{{ item.count }}</td>
                <td class="col-2">
                  <a class="btn" href="/shop/edit/{{item._id}}">
                    <i
                      class="fa-solid text-primary fa-pen-to-square"
                      data-bs-toggle="toopltip"
                      title="edit"
                    ></i>
                  </a>
                  <a class="btn" href="#" data-toggle="modal" data-target="#delete_{{item._id}}">
                    <i
                      data-bs-toggle="tooltip"
                      title="delete"
                      class="fa-solid fa-trash-can text-danger"
                    ></i>
                  </a>
                </td>
              </tr>
              <div
                class="modal fade"
                id="delete_{{item._id}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="basicModal"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"
                      >
                        &times;
                      </button>
                    </div>
                    <form
                      action="/shop/delete/{{item._id}}"
                      method="get"
                    >
                      <div class="modal-body">
                        <div class="form-group row">
                          <label class="col-sm-12 col-form-label"
                            >Bạn muốn xóa
                            <span style="font-weight: bold; color: red"
                              >{{item.name}}</span
                            >
                            ?</label
                          >
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          Đóng
                        </button>
                        <button type="submit" class="btn btn-danger">
                          Xóa
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- form start -->
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6"></div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Đăng xuất</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Bạn muốn đăng xuất ?</div>
      <div class="modal-footer">
        <button
          class="btn btn-sm btn-secondary"
          type="button"
          data-dismiss="modal"
        >
          Quay lại
        </button>
        <a class="btn btn-sm btn-danger" href="/signout">Đăng xuất</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
