{% extends 'adminv2/layout/base.html' %} 

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary mt-3">
            <div class="card-header">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div>
                {% for message in messages %}
                <div id="messagealert">
                  <span style="color: red">{{ message }}</span>
                  <span id="closealert" style="cursor: pointer;margin-left:20px" >x</span>
                </div>
                {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form action="/user/create" method="post">
                    <h1 class="h3 mb-3 fw-normal">Thêm Người Dùng</h1>
                
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Họ</label>
                        <input type="text" name="firstname" class="form-control">
                    </div>
                    <div class="form-floating mb-3">
                      <label for="floatingInput">Tên</label>
                      <input type="text" name="lastname" class="form-control">
                    </div>
                    <div class="form-floating mb-3">
                      <label for="floatingInput">Ngày tháng năm sinh</label>
                      <input name="birthday" class="form-control" type="date" id="reg-lname">
                    </div>
                    <div class="form-floating mb-3">
                      <label for="floatingInput">Giới tính</label>
                      <select name="gender" class="form-control" id="gender">
                        <option value="male" selected>Nam</option>
                        <option value="female">Nữ</option>
                      </select>
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Email</label>
                        <input type="text" name="email" class="form-control" >
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Password</label>
                        <input type="password" name="password" class="form-control" >
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Quyền</label>
                        <select name="role" class="form-control">
                            <option value="collector">Collector</option>
                            <option value="user" selected>User</option>
                        </select>
                    </div>
                    <button class="btn btn-sm btn-primary" type="submit">Thêm</button>
                </form>
            </div>
            <!-- form start -->
          <!-- /.card -->
          </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
    <script>
      var element = document.getElementById('closealert');
      if (element) {
        element.addEventListener('click', function() {
          document.getElementById("messagealert").style.display = 'none'
        })
      }
    </script>
{% endblock %}