{% extends 'adminv2/layout/base.html' %} 

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary mt-3">
            <div class="card-header"></div>
            <!-- /.card-header -->
            <div class="card-body">
                <form action="" method="post">
                    <h1 class="h3 mb-3 fw-normal">Trang Cá Nhân</h1>
                
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Họ</label>
                        <input type="text" value="{{user.firstname}}" class="form-control" disabled>
                    </div>
                    <div class="form-floating mb-3">
                      <label for="floatingInput">Tên</label>
                      <input type="text" value="{{user.lastname}}" class="form-control" disabled>
                  </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Email</label>
                        <input type="text" value="{{user.email}}" class="form-control" disabled>
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Quyền</label>
                        <input type="text" value="{{user.role}}" class="form-control" disabled>
                    </div>
                </form>
            </div>
            <!-- form start -->
          <!-- /.card -->
          </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}