{% extends 'adminv2/layout/base.html' %} 

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <h1 class="h3 mb-3 fw-normal">Thêm selector chi tiết sản phẩm</h1>
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary mt-3">
            <!-- /.card-header -->
            <div class="card-body">
                <form action="/tool/detail/create" method="post">
                    <div class="form-floating mb-3">
                      <label for="floatingPassword">Tool Crawl</label>
                      <select name="crawlproduct_id" class="form-control select2" style="width: 100%;">
                          <option>Tool Crawl</option>
                          {% if crawlproducts %}
                              {% for crawlproduct in crawlproducts  %}
                              <option value={{crawlproduct._id}}>{{ crawlproduct.name }}</option>
                              {% endfor %}
                          {% endif %}
                      </select>
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Selector Khung</label>
                        <input type="text" name="selector_frame" class="form-control" >
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Selector Giá</label>
                        <input type="text" name="selector_price" class="form-control" >
                    </div>
                    <div class="form-floating mb-3">
                      <label for="floatingPassword">Selector Url Ảnh</label>
                      <input type="text" name="selector_link_image" class="form-control" >
                    </div>
                    <div class="form-floating mb-3">
                      <label for="floatingPassword">Selector Rating</label>
                      <input type="text" name="selector_rating" class="form-control" >
                    </div>
                    <div class="form-floating mb-3">
                      <label for="floatingPassword">Selector Tổng Rating</label>
                      <input type="text" name="selector_total_rating" class="form-control" >
                    </div>
                    <div class="form-floating mb-3">
                      <label for="floatingPassword">Selector Chi Tiết</label>
                      <input type="text" name="selector_description" class="form-control" >
                    </div>
                    <button class="btn btn-sm btn-primary" type="submit">Thêm</button>
                </form>
            </div>
            <!-- form start -->
          <!-- /.card -->
          </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}