{% extends 'adminv2/layout/base.html' %} 

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary mt-3">
            <div class="card-header"></div>
            <!-- /.card-header -->
            <div class="card-body">
                <form action="/tool/edit/{{item._id}}" method="post">
                    <h1 class="h3 mb-3 fw-normal">Sửa Tool</h1>
                
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Tên Tool</label>
                        <input type="text" value="{{item.name}}" name="name" class="form-control">
                    </div>
                    <div class="row">
                      <div class="form-floating mb-3 col-6">
                        <label for="floatingPassword">Danh mục</label>
                        <select name="category_id" class="form-control select2" style="width: 100%;">
                            <option value="">Danh mục</option>
                            {% if categories %}
                                {% for category in categories  %}
                                <option value={{category._id}} {% if category._id == item.category_id %}selected{% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                      </div>
                      <div class="form-floating mb-3 col-6">
                        <label for="floatingPassword">Cửa hàng</label>
                        <select name="store_id" class="form-control select2" style="width: 100%;">
                            <option value="">Cửa Hàng</option>
                            {% if stores %}
                                {% for category in stores  %}
                                <option value={{category._id}} {% if category._id == item.store_id %}selected{% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Đường Dẫn</label>
                        <input type="text" value="{{item.link_url}}" name="link" class="form-control" >
                    </div>
                    <div class="row">
                      <div class="form-floating mb-3 col-6">
                        <label for="floatingPassword">Selector Khung</label>
                        <input type="text" value="{{item.selector_frame}}" name="selector_frame" class="form-control" >
                    </div>
                    <div class="form-floating mb-3 col-6">
                        <label for="floatingPassword">Selector Tên</label>
                        <input type="text" value="{{item.selector_name}}" name="selector_name" class="form-control" >
                    </div>
                    </div>
                    <div class="row">
                      <div class="form-floating mb-3 col-6">
                        <label for="floatingPassword">Selector Giá</label>
                        <input type="text" value="{{item.selector_price}}" name="selector_price" class="form-control" >
                      </div>
                      <div class="form-floating mb-3 col-6">
                        <label for="floatingPassword">Selector Ảnh</label>
                        <input type="text" value="{{item.selector_link_image}}" name="selector_link_image" class="form-control" >
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Selector Đường Dẫn Sản Phẩm</label>
                        <input type="text" value="{{item.selector_url}}" name="selector_url" class="form-control" >
                    </div>
                    <div class="form-floating mb-3">
                      <label for="floatingPassword">Selector Button Load Trang</label>
                      <input type="text" value="{{item.selector_load_page}}" name="selector_load_page" class="form-control" >
                    </div>
                    <h1 class="h5 mb-3 fw-normal">Chi Tiết Sản Phẩm</h1>
                    <div class="row">
                      <div class="form-floating mb-3 col-4">
                        <label for="floatingPassword">Selector Khung Thông Số</label>
                        <input type="text" value="{{detail.selector_specification_frame}}" name="selector_specification_frame" class="form-control" >
                      </div>
                      <div class="form-floating mb-3 col-4">
                        <label for="floatingPassword">Selector Tên Thông Số</label>
                        <input type="text" value="{{detail.selector_specification_name}}" name="selector_specification_name" class="form-control" >
                      </div>
                      <div class="form-floating mb-3 col-4">
                        <label for="floatingPassword">Selector Thông Số Chi Tiết</label>
                        <input type="text" value="{{detail.selector_specification_detail}}" name="selector_specification_detail" class="form-control" >
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-floating mb-3 col-6">
                        <label for="floatingPassword">Selector Button Hiển Thị Thông Số</label>
                        <input type="text" value="{{detail.selector_specification_button}}" name="selector_specification_button" class="form-control" >
                      </div>
                      <div class="form-floating mb-3 col-6">
                        <label for="floatingPassword">Selector Giới Thiệu Sản Phẩm</label>
                        <input type="text" value="{{detail.selector_description}}" name="selector_description" class="form-control" >
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-floating mb-3 col-6">
                        <label for="floatingPassword">Selector Rating</label>
                        <input type="text" value="{{detail.selector_rating}}" name="selector_rating" class="form-control" >
                      </div>
                      <div class="form-floating mb-3 col-6">
                        <label for="floatingPassword">Selector Total Rating</label>
                        <input type="text" value="{{detail.selector_total_rating}}" name="selector_total_rating" class="form-control" >
                      </div>
                    </div>
                    <button class="btn btn-sm btn-primary" type="submit">cập nhật</button>
                </form>
            </div>
            <!-- form start -->
          <!-- /.card -->
          </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}