{% extends 'adminv2/layout/base.html' %} {% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tool Crawl</h1>
    <div>
      <a
      href="/tool/create"
      class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
      >
        <i class="fa-solid fa-circle-plus"></i>
        Thêm Tool</a
      >
    </div>
  </div>
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- jquery validation -->
      <div class="card card-primary mt-3">
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 80%">
          <table class="table table-head-fixed text-nowrap">
            <caption></caption>
            <thead>
              <tr>
                <th>Tên Tool</th>
                <th>Link thu thập</th>
                <th class="col-2"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in listtool %}
              <tr>
                <td><a href="{{item.link_url}}" target="_blank">{{ item.name }}</a></td>
                <td><a href="{{item.link_url}}" target="_blank">{{ item.link_url }}</a></td>
                <td class="col-3">
                  <a class="btn" href="/crawl/{{item._id}}">
                    <i
                      class="fa-solid text-success fa-spider"
                      data-bs-toggle="tooltip"
                      title="crawl"
                    ></i>
                  </a>
                  <a class="btn" href="/tool/edit/{{item._id}}">
                    <i
                      class="fa-solid text-primary fa-pen-to-square"
                      data-bs-toggle="toopltip"
                      title="edit"
                    ></i>
                  </a>
                  <a class="btn" href="#" data-toggle="modal" data-target="#delete_{{item._id}}">
                    <i
                      data-bs-toggle="tooltip"
                      title="delete"
                      class="fa-solid fa-trash-can text-danger"
                    ></i>
                  </a>
                </td>
              </tr>
              <div
                class="modal fade"
                id="delete_{{item._id}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="basicModal"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"
                      >
                        &times;
                      </button>
                    </div>
                    <form action="/tool/delete/{{item._id}}" method="get">
                      <div class="modal-body">
                        <div class="form-group row">
                          <label class="col-sm-12 col-form-label"
                            >Bạn muốn xóa
                            <span style="font-weight: bold; color: red"
                              >{{item.name}}</span
                            >
                            ?</label
                          >
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          Đóng
                        </button>
                        <button type="submit" class="btn btn-danger">
                          Xóa
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- form start -->
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6"></div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
  {% endblock %}
</div>
