{% extends 'user/layout/base.html' %}
{% block content %}

        <!--====== App Content ======-->
        <div class="app-content">
          <!--====== Section 2 ======-->
          <div class="u-s-p-b-60">
              <!--====== Section Content ======-->
              <div class="section__content">
                  <div class="container">
                      <div class="row row--center">
                          <div class="col-lg-6 col-md-8 u-s-m-b-30">
                              <div class="l-f-o">
                                  <div class="l-f-o__pad-box">
                                      <h1 class="gl-h1" style="text-align: center;">Đổi Mật Khẩu</h1>
                                      {% if user %}
                                        {% if user.error %}
                                            <div style="margin-bottom: 8px;color: red;text-align: center;">{{user.error}}</div>
                                        {% endif %}
                                      {% endif %}
                                      <form action="/changepassword" class="l-f-o__form" method="post">
                                          <div class="u-s-m-b-30">
                                              <label class="gl-label" for="reg-password">Mật Khẩu Cũ *</label>
                                              <input name="old_password" class="input-text input-text--primary-style" type="password" id="reg-password">
                                          </div>
                                          <div class="u-s-m-b-30">
                                              <label class="gl-label" for="reg-password">Mật Khẩu Mới *</label>
                                              <input name="new_password" class="input-text input-text--primary-style" type="password" id="reg-password">
                                          </div>
                                          <div class="u-s-m-b-30">
                                            <label class="gl-label" for="reg-password">Nhập Lại Mật Khẩu Mới *</label>
                                            <input name="confirm_password" class="input-text input-text--primary-style" type="password" id="reg-password">
                                        </div>
                                          <div class="u-s-m-b-15">
                                              <button onclick="return confirmSubmit()" class="btn btn--e-transparent-brand-b-2" type="submit">Thay Đổi</button>
                                        </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!--====== End - Section Content ======-->
          </div>
          <!--====== End - Section 2 ======-->
      </div>
      <!--====== End - App Content ======-->
      <script>
        function confirmSubmit() {
            var result = confirm("Bạn có chắc chắn muốn đổi mật khẩu? \nSau khi đổi mật khẩu thì hệ thống tự động đăng xuất!");
            if (result == true) {
                document.forms["myForm"].submit();
            } else {
                return false
            }
        }
      </script>
{% endblock %}