{% extends 'user/layout/base.html' %}
{% block content %}

        <!--====== App Content ======-->
        <div class="app-content">
          <!--====== Section 2 ======-->
          <div class="u-s-p-b-60">
              <!--====== Section Content ======-->
              <div class="section__content">
                  <div class="container">
                      <div class="row row--center">
                          <div class="col-lg-6 col-md-8 u-s-m-b-30">
                              <div class="l-f-o">
                                  <div class="l-f-o__pad-box">
                                      <h1 class="gl-h1">Đăng Nhập</h1>
                                      <form action="/login" class="l-f-o__form" method="post">
                                          <div class="u-s-m-b-30">

                                              <label class="gl-label" for="reg-email">Email *</label>

                                              <input name="email" class="input-text input-text--primary-style" type="text" id="reg-email" placeholder="Nhập E-mail"></div>
                                          <div class="u-s-m-b-30">

                                              <label class="gl-label" for="reg-password">Mật Khẩu *</label>

                                              <input name="password" class="input-text input-text--primary-style" type="password" id="reg-password" placeholder="Nhập Mật Khẩu"></div>
                                          <div class="u-s-m-b-15">

                                              <button class="btn btn--e-transparent-brand-b-2" type="submit">Đăng Nhập</button></div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!--====== End - Section Content ======-->
          </div>
          <!--====== End - Section 2 ======-->
      </div>
      <!--====== End - App Content ======-->
{% endblock %}