{% extends 'user/layout/base.html' %}
{% block content %}
        <!--====== App Content ======-->
        <div class="app-content">
            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">
                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row row--center">
                            <div class="col-lg-6 col-md-8 u-s-m-b-30">
                                <div class="l-f-o">
                                    <div class="l-f-o__pad-box">
                                        <h1 class="gl-h1" style="text-align: center;">Đăng Ký</h1>
                                        {% if user %}
                                          {% if user.error %}
                                              <div style="margin-bottom: 8px;color: red;text-align: center;">{{user.error}}</div>
                                          {% endif %}
                                        {% endif %}
                                        <form  action="/register" method="post" class="l-f-o__form">
                                            <div class="u-s-m-b-30">
                                                <label class="gl-label" for="reg-fname">Họ <span style="color: red;">*</span></label>
                                                <input name="firstname" class="input-text input-text--primary-style" type="text" id="reg-fname" required></div>
                                            <div class="u-s-m-b-30">
                                                <label class="gl-label" for="reg-lname">Tên <span style="color: red;">*</span></label>
                                                <input name="lastname" class="input-text input-text--primary-style" type="text" id="reg-lname" required>
                                            </div>
                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <!--====== Date of Birth Select-Box ======-->

                                                    <span class="gl-label">Ngày Tháng Năm Sinh <span style="color: red;">*</span></span>
                                                    <div class="gl-dob">
                                                        <input name="birthday" class="input-text input-text--primary-style" type="date" id="reg-lname" required>
                                                    </div>
                                                    <!--====== End - Date of Birth Select-Box ======-->
                                                </div>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <label class="gl-label" for="gender">Giới Tính <span style="color: red;">*</span></label>
                                                <select name="gender" class="select-box select-box--primary-style u-w-100" id="gender">
                                                    <option value="male" selected>Nam</option>
                                                    <option value="female">Nữ</option>
                                                </select>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <label class="gl-label" for="reg-email">Email <span style="color: red;">*</span></label>
                                                <input name="email" class="input-text input-text--primary-style" type="email" required>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <label class="gl-label" for="reg-password">Mật Khẩu <span style="color: red;">*</span></label>
                                                <input name="password" class="input-text input-text--primary-style" type="password" required>
                                            </div>
                                            <div class="u-s-m-b-15">
                                                <button class="btn btn--e-transparent-brand-b-2" type="submit">Đăng Ký</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->
{% endblock %}