{% extends "adminv2/layout/base.html" %} {% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh Mục</h1>
    <a
      href="/category/create"
      class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
    >
      <i class="fa-solid fa-circle-plus"></i>
      Thêm Danh Mục
    </a>
  </div>
  <form action="/category/list" method="get" class="row">
    <div class="form-floating mb-3 col-4">
      <div>Tên</div>
      <input type="text" value="{% if request.args.get('name') %}{{request.args.get('name')}}{% endif %}" name="name" style="width: 100%;" >
    </div>
    <div class="form-floating col-2">
      <div style="height:22px"></div>
      <button type="submit" class="btn btn-sm btn-success">Tìm kiếm</button>
    </div>
  </form>
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <div class="card mt-3">
        <div class="card-header">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div>
            {% for message in messages %}
              <span style="color: red;">{{ message }}</span>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 80%">
          <table class="table table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th>Tên</th>
                <th>Ảnh</th>
                <th>Danh mục cha</th>
                <th>Số lượng sản phẩm</th>
                <th class="col-2"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in lists %}
              <tr>
                <td>{{ item.name }}</td>
                <td>
                  {% if item.image %}
                    <img src="data:image;base64,{{ item.image }}" width="75" height="75" />
                  {% else %}
                    <img src="https://i.pinimg.com/736x/c6/e5/65/c6e56503cfdd87da299f72dc416023d4.jpg" width="75" height="75">
                  {% endif %}
                </td>
                <td>
                  {% if item.parent_id %} {% for list in lists %} {% if list._id
                  == item.parent_id %}
                  <span style="font-weight: 400">{{ list.name }}</span>
                  {% endif %} {% endfor %} {% else %}
                  <span style="font-weight: 400">Không có</span>
                  {% endif %}
                </td>
                <td>{{ item.count }}</td>
                <td class="col-2">
                  <a class="btn" href="/category/edit/{{item._id}}"
                    ><i
                      class="fa-solid text-primary fa-pen-to-square"
                      data-bs-toggle="toopltip"
                      title="edit"
                    ></i
                  ></a>
                  <a class="btn" href="#" data-toggle="modal" data-target="#delete_{{item._id}}">
                    <i
                      data-bs-toggle="tooltip"
                      title="delete"
                      class="fa-solid fa-trash-can text-danger"
                    ></i>
                  </a>
                </td>
              </tr>
              <div
                class="modal fade"
                id="delete_{{item._id}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="basicModal"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"
                      >
                        &times;
                      </button>
                    </div>
                    <form action="/category/delete/{{item._id}}" method="get">
                      <div class="modal-body">
                        <div class="form-group row">
                          <label class="col-sm-12 col-form-label"
                            >Bạn muốn xóa
                            <span style="font-weight: bold; color: red"
                              >{{item.name}}</span
                            >
                            ?</label
                          >
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          Đóng
                        </button>
                        <button type="submit" class="btn btn-danger">
                          Xóa
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- form start -->
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6"></div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>
  <nav>
    {% if pages %}
    <ul class="pagination justify-content-center m-2">
      {% if current_page > 1 %}
      {% set query_params = request.args.to_dict() %} {% set _ =
        query_params.update({'page': current_page - 1}) %}
      <li class="page-item">
        <a
          class="page-link"
          href="{{ url_for(request.endpoint, **query_params) }}"
          tabindex="-1"
        >
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a
          class="page-link"
          tabindex="-1"
        >
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %} {% for page in pages %} {% if page == current_page %}
      <li class="page-item">
        <a
          aria-disabled="true"
          class="page-link"
          style="background-color: rgb(44, 219, 161); color: white"
        >
          {{ page }}
        </a>
      </li>
      {% elif page == '...' %}
      <li class="page-item">
        <a aria-disabled="true" class="page-link"> {{ page }} </a>
      </li>
      {% else %}
      <li class="page-item">
        {% set query_params = request.args.to_dict() %} {% set _ =
          query_params.update({'page': page}) %}
        <a class="page-link" href="{{ url_for(request.endpoint, **query_params) }}">
          {{ page }}
        </a>
      </li>
      {% endif %} {% endfor %} {% if current_page == pages %}
      <li class="page-item diabled">
        <a
          class="page-link"
          tabindex="-1"
        >
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% else %}
      {% set query_params = request.args.to_dict() %} {% set _ =
        query_params.update({'page': current_page + 1}) %}
      <li class="page-item">
        <a
          class="page-link"
          href="{{ url_for(request.endpoint, **query_params) }}"
          tabindex="-1"
        >
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>
</div>
{% endblock %}
