{% extends 'user/layout/base.html' %}
{% block content %}
<!--====== App Content ======-->
        <div class="app-content">

          <!--====== Section 1 ======-->
          <div class="u-s-p-t-90">
              <div class="container">
                <div class="pd-breadcrumb u-s-m-b-30">
                    <ul class="pd-breadcrumb__list">
                        <li class="has-separator">
                            <a href="/" style="font-size:18px">Trang Chủ</a></li>
                        <li class="has-separator">
                            <a href="/home/product" style="font-size:18px">Sản Phẩm</a></li>
                        <li class="is-marked">
                        <a style="font-size:18px">{{product.name}}</a></li>
                    </ul>
                </div>
                  <div class="row">
                      <div class="col-lg-7">
                          <!--====== Product Detail Zoom ======-->
                          <div class="pd u-s-m-b-30">
                              <div class="pd-wrap">
                                  <div id="pd-o-initiate">
                                      <div class="pd-o-img-wrap">
                                        {% if product.link_image %}
                                        <img
                                          class="u-img-fluid"
                                          src="{{product.link_image}}"
                                          style="height: 300px;object-fit:contain;"
                                          alt=""
                                      />
                                      {% else %}
                                      <img
                                      class="u-img-fluid"
                                      src="{{ url_for('static',filename='/image_default.jpg') }}"
                                      style="height: 300px;object-fit:contain;"
                                      alt=""
                                  />
                                      {% endif %}
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!--====== End - Product Detail Zoom ======-->
                      </div>
                      <div class="col-lg-5">

                          <!--====== Product Right Side Details ======-->
                          <div class="pd-detail" style="margin-top: 75px;">
                              <div>

                                  <span class="pd-detail__name">{{product.name}}</span></div>
                              <div>
                                  <div class="pd-detail__inline">

                                      <span class="pd-detail__price">{{product.price}} VNĐ</span>
                              </div>
                              <div class="u-s-m-b-15">
                                  <div class="pd-detail__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                      <span class="pd-detail__review u-s-m-l-4">

                                          <a data-click-scroll="#view-review">{{productdetail.rating}} | {{productdetail.total_rating}}</a></span></div>
                              </div>
                              <div>
                                <img width="50" height="20" src="{{product.store.link_image}}" />
                                <span style="color:grey">{{ product.store.name }}</span>
                              </div>
                              <div class="u-s-m-b-15" style="margin-top:10px">
                                  <div class="pd-detail__inline">

                                      <span class="pd-detail__click-wrap"><i class="far fa-heart u-s-m-r-6"></i>

                                          <a href="/" style="font-size:18px">Thêm vào danh sách yêu thích</a>

                              </div>
                              <div class="u-s-m-b-15" style="margin-top:10px">
                                  <div class="pd-detail__inline">

                                      <span class="pd-detail__click-wrap"><svg style="width:14px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M364.2 83.8c-24.4-24.4-64-24.4-88.4 0l-184 184c-42.1 42.1-42.1 110.3 0 152.4s110.3 42.1 152.4 0l152-152c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-152 152c-64 64-167.6 64-231.6 0s-64-167.6 0-231.6l184-184c46.3-46.3 121.3-46.3 167.6 0s46.3 121.3 0 167.6l-176 176c-28.6 28.6-75 28.6-103.6 0s-28.6-75 0-103.6l144-144c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-144 144c-6.7 6.7-6.7 17.7 0 24.4s17.7 6.7 24.4 0l176-176c24.4-24.4 24.4-64 0-88.4z"/></svg></i>

                                          <a href="{{product.link_url}}" style="font-size:18px" target="_blank">Đi đến nơi bán</a>
                              </div>
                              <div class="u-s-m-b-15" style="margin-top:10px">
                                  <span>Chia sẻ lên : </span>
                                  <ul class="pd-social-list">
                                      <li>

                                          <a title="facebook" class="s-fb--color-hover" href="https://www.facebook.com/sharer/sharer.php?u={{product.link_url}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                      <li>

                                          <a title="twitter" class="s-tw--color-hover" href="https://twitter.com/intent/tweet?url={{product.link_url}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                      <li>

                                          <a title="instagram" class="s-insta--color-hover" href="https://www.instagram.com/sharer/sharer.php?u={{product.link_url}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                      <li>

                                          <a title="whatsapp" class="s-wa--color-hover" href="whatsapp://send?text=Hãy kiểm tra trang web này: {{product.link_url}}" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <!--====== End - Product Right Side Details ======-->
                      </div>
                  </div>
              </div>
          </div>

          <!--====== Product Detail Tab ======-->
          <button id="toggleButton" style="margin-left:30px;background: #e1d7d7;border-radius: 20px;border: 0px;cursor:pointer">Ẩn/Hiện Thông tin sản phẩm</div>
          <div id="content" style="display:none" class="u-s-p-y-90">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="pd-tab">
                              <div class="u-s-m-b-30">
                                  <ul class="nav pd-tab__list">
                                      <li class="nav-item">

                                          <a class="nav-link active" data-toggle="tab" href="#pd-desc">Thông Tin Sản Phẩm</a></li>
                                      <li class="nav-item">

                                          <a class="nav-link" data-toggle="tab" href="#pd-tag">Thông Số Kỹ Thuật</a></li>
                                  </ul>
                              </div>
                              <div class="tab-content">

                                  <!--====== Tab 1 ======-->
                                  <div class="tab-pane fade show active" id="pd-desc">
                                      <div>
                                          <div class="u-s-m-b-15">
                                            <p style="font-size:18px">{{productdetail.description}}</p>
                                          </div>
                                      </div>
                                  </div>
                                  <!--====== End - Tab 1 ======-->


                                  <!--====== Tab 2 ======-->
                                  <div class="tab-pane" id="pd-tag">
                                      <div class="pd-tab__desc">
                                          <div class="u-s-m-b-15">
                                            <div class="pd-table gl-scroll">
                                                <table>
                                                    <tbody>
                                                        {% for key, value in productdetail.introduction.items()  %}
                                                        <tr>
                                                            <td>{{key}}</td>
                                                            <td>{{value}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                      </div>
                                  </div>
                                  <!--====== End - Tab 2 ======-->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--====== End - Product Detail Tab ======-->
          <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                >
                  <h3 class="m-0 font-weight-bold text-primary" style="margin-top:10px">Biểu đồ giá</h3>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          <div>

              <!--====== Section Intro ======-->
              <div class="section__intro u-s-m-t-46">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="section__text-wrap">
                                  <h1 class="section__heading u-c-secondary u-s-m-b-12">Sản Phẩm trong tầm giá</h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!--====== End - Section Intro ======-->


              <!--====== Section Content ======-->
              <div class="section__content">
                  <div class="container">
                      <div class="slider-fouc">
                          <div class="owl-carousel product-slider" data-item="4">
                            {% for item in similar_product %}
                              <div class="u-s-m-b-30">
                                  <a href="/home/product/detail/{{item._id}}" class="product-o">
                                      <div class="product-o__wrap">
                                          <a class="aspect aspect--square u-d-block" >
                                            {% if item.link_image %}
                                                <img width="300" height="200" class="aspect__img" src="{{item.link_image}}" alt="">
                                            {% else %}
                                                <img width="300" height="200" class="aspect__img" src="{{ url_for('static',filename='/image_default.jpg') }}" alt="">
                                            {% endif %}
                                          </a>
                                      </div>
                                      <div style="display:flex;margin-top:10px">
                                        <img style="width:50px;height:20px;" src="{{item.store.link_image}}" />
                                        <span style="color:grey">{{ item.store.name }}</span>
                                      </div>
                                      <div style="color: black;"><a href="/home/product/detail/{{item._id}}" style="color: black;height: 100px;">{{item.name}}</a></div>
                                      <span class="product-o__price" style="color: red;">{{item.price}} VNĐ</span>
                                    </a>
                              </div>
                            {% endfor %}
                          </div>
                      </div>
                  </div>
              </div>
              <!--====== End - Section Content ======-->
          </div>
          <!--====== End - Section 1 ======-->
      </div>
      <!--====== End - App Content ======-->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            datasets: [{
              label: 'biểu đồ giá',
              data: [12000000, 11000000, 11000000, 11000000, 11000000, 10800000, 10800000, 10800000, 10800000, 10800000, 10800000, 10700000],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
      <script>
        // Lấy phần tử button và content từ HTML
        var toggleButton = document.getElementById('toggleButton');
        var content = document.getElementById('content');
        // Đặt sự kiện click cho button
        toggleButton.addEventListener('click', function() {
            // Kiểm tra trạng thái hiện tại của content
            if (content.style.display === 'none') {
                // Nếu đang ẩn, hiển thị content
                content.style.display = 'block';
            } else {
                // Nếu đang hiển thị, ẩn content
                content.style.display = 'none';
            }
        });
      </script>
{% endblock %}
