  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="/static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/static/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">
            {{ session['user']['name'] }}
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Thống kê
              </p>
            </a>
          </li>
          <li class="nav-header">Quản lý crawler</li>
          <li class="nav-item menu-open">
            <a href="/tool/list" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tool Crawl
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/crawl/category" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crawl Category</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/tool/list" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crawl Product</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/crawl/detail" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Product Detail</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/crawl/comment" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crawl Comment</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header">Quản lý sản phẩm</li>
          <li class="nav-item">
            <a href="/category/list" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Danh sách danh mục
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/shop/list" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>
                Danh sách cửa hàng
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/product/list" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Danh sách sản phẩm
              </p>
            </a>
          </li>
          <li class="nav-header">Quản lý người dùng</li>
          <li class="nav-item">
            <a href="/user/list" class="nav-link">
              <i class="nav-icon fas fa-tree"></i>
              <p>
                Danh sách người dùng
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>