{% if session['user']['role'] == 'user' %}
{% extends 'user/layout/base.html' %}
{% else %}
{% if "home" in request.path %}
{% extends 'user/layout/base.html' %}
{% else %}
{% extends 'adminv2/layout/base.html' %}
{% endif %}
{% endif %}
{% block content %}
        <!--====== App Content ======-->
        <div class="app-content">

          <!--====== Section 1 ======-->
          <div class="u-s-p-y-60">

              <!--====== Section Content ======-->
              <div class="section__content">
                  <div class="container">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 u-s-m-b-30" style="margin-left: 300px;margin-top: 100px;font-size: 30px;">
                            <div class="empty">
                                  <div class="empty__wrap">
                                    {{ request.path }}
                                    {% if session['user']['role'] == 'user' %}

                                      <span class="empty__big-text">404</span>

                                      <span class="empty__text-1">Trang Web không tồn tại!</span>

                                      <a class="empty__redirect-link btn--e-brand" href="/">Quay Lại</a></div>
                                    {% else %}
                                    <div style="text-align:center">
                                        <div class="empty__big-text" style="font-size:5rem">404</div>

                                        <span class="empty__text-1">Trang Web không tồn tại!</span>

                                        <a class="empty__redirect-link btn--e-brand" href="/dashboard">Quay Lại</a></div>
                                    </div>
                                    {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!--====== End - Section Content ======-->
          </div>
          <!--====== End - Section 1 ======-->
      </div>
      <!--====== End - App Content ======-->
{% endblock %}
